// COLORS
$kt-brand-color: #4e3a96;
$kt-success-color: #1dc9b7;
$kt-danger-color: #fd397a;

$black: #3d3b56;
// $blue: #3d3bee;
$blue: $kt-brand-color; //#5867dd;
// $dark-blue: #3f4d60;
$dark-blue: #3c4368;
$dark-gray-color: #636466;
$dark-grey: #b2b2b2;
$dark-grey-blue: #646c9a;
$dark-primary-text: rgba(0, 0, 0, 0.87);
$error-color: #f44336;
$green: #13b625;
// $grey-blue: #a1a8c3;
$grey-blue: #646c9a;
$grey-white: #f5f8ff;
$grey: #f9f9fc;
$hover-table-row-effect: #f5f5f5;
$light-blue: rgba(78, 58, 150, 0.85); // #5b74ff;
$light-border-color: rgba(0, 0, 0, 0.12);
// $light-grey: #cfd2d7;
$light-grey: #edeef3;
$light-primary-color: #ffffff;
$orange: #ecc664;
$pink: #fbe8e8;
$purple: #ebebfd;
$red: #d8191e;
$white: #ffffff;
$yellow: #fae343;

$mat-form-field-wrapper__padding-bottom: 1.34375em;
