<form [formGroup]="transactionForm"
      (ngSubmit)="onSubmit()"
      class="transaction-form">

  <div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 i18n>Beneficiary</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Beneficiary Full Name</mat-label>
            <input id="BeneficiaryFullName"
                   matInput
                   [formControlName]="transactionFormProps.BeneficiaryFullName"
                   required>
            <mat-error>
              <app-error-message [controlName]="transactionFormProps.BeneficiaryFullName"></app-error-message>
              <app-error-message [controlName]="transactionFormProps.BeneficiaryFullName"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: 3, max: 200}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Beneficiary VAAN</mat-label>
            <input id="BeneficiaryVaan"
                   matInput
                   [formControlName]="transactionFormProps.BeneficiaryVaan"
                   required>
            <mat-error>
              <app-error-message [controlName]="transactionFormProps.BeneficiaryVaan"></app-error-message>
              <app-error-message [controlName]="transactionFormProps.BeneficiaryVaan"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: 15, max: 50}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 i18n>Originator</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Originator Full Name</mat-label>
            <input id="OriginatorFullName"
                   matInput
                   [formControlName]="transactionFormProps.OriginatorFullName"
                   required>
            <mat-error>
              <app-error-message [controlName]="transactionFormProps.OriginatorFullName"></app-error-message>
              <app-error-message [controlName]="transactionFormProps.OriginatorFullName"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: 3, max: 200}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Originator VAAN</mat-label>
            <input id="OriginatorVaan"
                   matInput
                   [formControlName]="transactionFormProps.OriginatorVaan"
                   required>
            <mat-error>
              <app-error-message [controlName]="transactionFormProps.OriginatorVaan"></app-error-message>
              <app-error-message [controlName]="transactionFormProps.OriginatorVaan"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: 15, max: 50}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet"
       [formGroup]="transactionForm.get(transactionFormProps.OriginatorPostalAddress)">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 i18n>Originator Postal Address</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Street</mat-label>
            <input id="postalAddressFormPropsStreet"
                   matInput
                   [formControlName]="postalAddressFormProps.Street"
                   required>
            <mat-error>
              <app-error-message [controlName]="postalAddressFormProps.Street"></app-error-message>
              <app-error-message [controlName]="postalAddressFormProps.Street"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: 3, max: 200}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Building</mat-label>
            <input id="postalAddressFormPropsBuilding"
                   matInput
                   type="number"
                   [formControlName]="postalAddressFormProps.Building"
                   min="1"
                   step="1"
                   required>
            <mat-error>
              <app-error-message [controlName]="postalAddressFormProps.Building"></app-error-message>
              <app-error-message [controlName]="postalAddressFormProps.Building"
                                 key="min"
                                 [template]="templates.minNumberError"
                                 [templateContext]="{$implicit: {min: 1}}"></app-error-message>
              <app-error-message [controlName]="postalAddressFormProps.Building"
                                 key="max"
                                 [template]="templates.maxNumberError"
                                 [templateContext]="{$implicit: {max: constants.INTEGER_MAX_NUMBER}}">
              </app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Address</mat-label>
            <input id="postalAddressFormPropsAddressLine"
                   matInput
                   [formControlName]="postalAddressFormProps.AddressLine"
                   required>
            <mat-error>
              <app-error-message [controlName]="postalAddressFormProps.AddressLine"></app-error-message>
              <app-error-message [controlName]="postalAddressFormProps.AddressLine"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: 3, max: 500}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Post Code</mat-label>
            <input id="postalAddressFormPropsPostCode"
                   matInput
                   [formControlName]="postalAddressFormProps.PostCode"
                   required>
            <mat-error>
              <app-error-message [controlName]="postalAddressFormProps.PostCode"></app-error-message>
              <app-error-message [controlName]="postalAddressFormProps.PostCode"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: 3, max: 10}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Town</mat-label>
            <input id="postalAddressFormPropsTown"
                   matInput
                   [formControlName]="postalAddressFormProps.Town"
                   required>
            <mat-error>
              <app-error-message [controlName]="postalAddressFormProps.Town"></app-error-message>
              <app-error-message [controlName]="postalAddressFormProps.Town"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: 2, max: 100}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Country</mat-label>
            <mat-select [formControlName]="postalAddressFormProps.CountryIso2Code"
                        required>
              <mat-option *ngFor="let country of countries"
                          [value]="country.alpha2Code">{{country.name}}</mat-option>
            </mat-select>
            <mat-error>
              <app-error-message [controlName]="postalAddressFormProps.CountryIso2Code"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet"
       *ngIf="transactionForm.get(transactionFormProps.OriginatorPlaceOfBirth).value"
       [formGroup]="transactionForm.get(transactionFormProps.OriginatorPlaceOfBirth)">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 i18n>Originator Place Of Birth</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Town</mat-label>
            <input id="placeOfBirthFormPropsTown"
                   matInput
                   [formControlName]="placeOfBirthFormProps.Town"
                   required>
            <mat-error>
              <app-error-message [controlName]="placeOfBirthFormProps.Town"></app-error-message>
              <app-error-message [controlName]="placeOfBirthFormProps.Town"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: 2, max: 100}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Country</mat-label>
            <mat-select [formControlName]="placeOfBirthFormProps.CountryIso2Code"
                        required>
              <mat-option *ngFor="let country of countries"
                          [value]="country.alpha2Code">{{country.name}}</mat-option>
            </mat-select>
            <mat-error>
              <app-error-message [controlName]="placeOfBirthFormProps.CountryIso2Code"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Date</mat-label>
            <input matInput
                   [matDatepicker]="picker"
                   [formControlName]="placeOfBirthFormProps.Date"
                   required>
            <mat-datepicker-toggle matSuffix
                                   [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              <app-error-message [controlName]="placeOfBirthFormProps.Date"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="kt-portlet"
       [formGroup]="transactionForm.get(transactionFormProps.OriginatorPlaceOfBirth)">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 i18n>Originator Natural Person</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Town</mat-label>
            <input id="placeOfBirthFormPropsTown"
                   matInput
                   [formControlName]="placeOfBirthFormProps.Town"
                   required>
            <mat-error>
              <app-error-message [controlName]="placeOfBirthFormProps.Town"></app-error-message>
              <app-error-message [controlName]="placeOfBirthFormProps.Town"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: 2, max: 100}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Country</mat-label>
            <mat-select [formControlName]="placeOfBirthFormProps.CountryIso2Code"
                        required>
              <mat-option *ngFor="let country of countries"
                          [value]="country.alpha2Code">{{country.name}}</mat-option>
            </mat-select>
            <mat-error>
              <app-error-message [controlName]="placeOfBirthFormProps.CountryIso2Code"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Date</mat-label>
            <input matInput
                   [matDatepicker]="picker"
                   [formControlName]="placeOfBirthFormProps.Date"
                   required>
            <mat-datepicker-toggle matSuffix
                                   [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              <app-error-message [controlName]="placeOfBirthFormProps.Date"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div> -->

  <div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 i18n>Amount</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Amount</mat-label>
            <input matInput
                   [formControlName]="transactionFormProps.Amount"
                   type="number"
                   min="0.0001"
                   step="0.0001"
                   required>
            <mat-error>
              <app-error-message [controlName]="transactionFormProps.Amount"></app-error-message>
              <app-error-message [controlName]="transactionFormProps.Amount"
                                 key="min"
                                 [template]="templates.minNumberError"
                                 [templateContext]="{$implicit: {min: 0.0001}}"></app-error-message>
              <app-error-message [controlName]="transactionFormProps.Amount"
                                 key="max"
                                 [template]="templates.maxNumberError"
                                 [templateContext]="{$implicit: {max: constants.INTEGER_MAX_NUMBER}}">
              </app-error-message>
              <app-error-message [controlName]="transactionFormProps.Amount"
                                 key="accuracy"
                                 [template]="templates.invalidAccuracyError"
                                 [templateContext]="{$implicit: {accuracy: 4}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Asset</mat-label>
            <mat-select [formControlName]="transactionFormProps.Asset"
                        required>
              <mat-option *ngFor="let asset of assetValues"
                          [value]="asset">{{asset}}</mat-option>
            </mat-select>
            <mat-error>
              <app-error-message [controlName]="transactionFormProps.Asset"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="errors && errors.length"
       class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 i18n>Amount</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div *ngFor="let error of errors"
           style="color: red">{{error}}</div>
    </div>
  </div>

  <div class="form-navigation d-flex justify-content-between align-items-center">
    <button type="button"
            class="btn btn-outline-brand btn-upper btn-bold"
            style="min-width: 120px;"
            [routerLink]="[navigateToListUrl]"
            [disabled]="isSaving"
            i18n>Cancel</button>

    <button type="submit"
            class="btn btn-brand btn-upper btn-bold"
            style="min-width: 120px;"
            [disabled]="isSaving || transactionForm.disabled"
            i18n>Save</button>
  </div>
</form>
