<form [formGroup]="transactionForm"
      (ngSubmit)="onSubmit()"
      class="transaction-form">

  <div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title"
            i18n>Beneficiary</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Beneficiary Full Name</mat-label>
            <input id="BeneficiaryFullName"
                   matInput
                   [formControlName]="transactionFormProps.BeneficiaryFullName"
                   required>
            <mat-error>
              <app-error-message [controlName]="transactionFormProps.BeneficiaryFullName"></app-error-message>
              <app-error-message [controlName]="transactionFormProps.BeneficiaryFullName"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: transactionFormValidations.FullName.MinLength, max: transactionFormValidations.FullName.MaxLength}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Beneficiary VAAN</mat-label>
            <input id="BeneficiaryVaan"
                   matInput
                   [formControlName]="transactionFormProps.BeneficiaryVaan"
                   required>
            <mat-error>
              <app-error-message [controlName]="transactionFormProps.BeneficiaryVaan"></app-error-message>
              <app-error-message [controlName]="transactionFormProps.BeneficiaryVaan"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: transactionFormValidations.Vaan.MinLength, max: transactionFormValidations.Vaan.MaxLength}}">
              </app-error-message>
              <app-error-message [controlName]="transactionFormProps.BeneficiaryVaan"
                                 key="vaan"
                                 [template]="vaanError"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title"
            i18n>Originator</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Originator Full Name</mat-label>
            <input id="OriginatorFullName"
                   matInput
                   [formControlName]="transactionFormProps.OriginatorFullName"
                   required>
            <mat-error>
              <app-error-message [controlName]="transactionFormProps.OriginatorFullName"></app-error-message>
              <app-error-message [controlName]="transactionFormProps.OriginatorFullName"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: transactionFormValidations.FullName.MinLength, max: transactionFormValidations.FullName.MaxLength}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Originator VAAN</mat-label>
            <input id="OriginatorVaan"
                   matInput
                   [formControlName]="transactionFormProps.OriginatorVaan"
                   required>
            <mat-error>
              <app-error-message [controlName]="transactionFormProps.OriginatorVaan"></app-error-message>
              <app-error-message [controlName]="transactionFormProps.OriginatorVaan"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: transactionFormValidations.Vaan.MinLength, max: transactionFormValidations.Vaan.MaxLength}}">
              </app-error-message>
              <app-error-message [controlName]="transactionFormProps.OriginatorVaan"
                                 key="vaan"
                                 [template]="vaanError"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div style="margin-bottom: 0.5rem">
        <h6 i18n>Originator Type</h6>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <mat-radio-group class="originator-type"
                           [(ngModel)]="originatorTypeValue"
                           [ngModelOptions]="{standalone: true}"
                           (ngModelChange)="originatorTypeValueChange($event)">
            <mat-radio-button *ngFor="let type of originatorTypeValues"
                              [value]="type.Value">
              {{type.DisplayName}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>

  <mat-tab-group class="originator-type-tabs"
                 dynamicHeight="true"
                 [selectedIndex]="originatorTypeIndex">

    <mat-tab>
      <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{originatorTypeValues[originatorTypeIndex]?.DisplayName}}</h3>
          </div>
        </div>
        <div class="kt-portlet__body">
          <div class="row">
            <div class="col-xl-4 col-lg-6">
              <mat-form-field appearance="outline"
                              class="width-100">
                <mat-label i18n>BIC</mat-label>
                <input id="OriginatorBic"
                       matInput
                       [formControlName]="transactionFormProps.OriginatorBic"
                       required>
                <mat-error>
                  <app-error-message [controlName]="transactionFormProps.OriginatorBic"></app-error-message>
                  <app-error-message [controlName]="transactionFormProps.OriginatorBic"
                                     key="length"
                                     [template]="templates.lengthError"
                                     [templateContext]="{$implicit: {min: transactionFormValidations.Bic.MinLength, max: transactionFormValidations.Bic.MaxLength}}">
                  </app-error-message>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{originatorTypeValues[originatorTypeIndex]?.DisplayName}}</h3>
          </div>
        </div>
        <div [formGroup]="originatorJuridicalPersonIdsFormArray"
             class="kt-portlet__body">
          <div *ngFor="let jurPerson of originatorJuridicalPersonIdsFormArray.controls"
               [formGroup]="jurPerson"
               class="row">
            <div class="col-xl-3 col-lg-6">
              <mat-form-field appearance="outline"
                              class="width-100">
                <mat-label i18n>Identification Type</mat-label>
                <mat-select [formControlName]="personFormProps.Type"
                            required>
                  <mat-option *ngFor="let type of juridicalIdentificationTypeValues"
                              [value]="type.Value">{{type.DisplayName}}</mat-option>
                </mat-select>
                <mat-error>
                  <app-error-message [controlName]="personFormProps.Type"></app-error-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-3 col-lg-6">
              <mat-form-field appearance="outline"
                              class="width-100">
                <mat-label i18n>Identifier</mat-label>
                <input matInput
                       [formControlName]="personFormProps.Id"
                       required>
                <mat-error>
                  <app-error-message [controlName]="personFormProps.Id"></app-error-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-3 col-lg-6">
              <mat-form-field appearance="outline"
                              class="width-100">
                <mat-label i18n>Country</mat-label>
                <mat-select [formControlName]="personFormProps.CountryIso2Code"
                            required
                            panelClass="select-panel"
                            (openedChange)="!$event && searchCountry = ''"
                            disableRipple>
                  <mat-option class="select-search-option"
                              disabled>
                    <mat-form-field appearance="standard">
                      <mat-label i18n>Search</mat-label>
                      <input type="text"
                             matInput
                             [(ngModel)]="searchCountry"
                             [ngModelOptions]="{standalone: true}"
                             (keydown)="$event.stopPropagation()"
                             (click)="$event.stopPropagation()">
                      <mat-icon *ngIf="searchCountry"
                                (click)="searchCountry = ''"
                                matSuffix>clear</mat-icon>
                    </mat-form-field>
                  </mat-option>
                  <mat-option *ngFor="let country of countries | searchCountry : searchCountry"
                              [hidden]="country.isHidden"
                              [value]="country.alpha2Code">{{country.name}}</mat-option>
                </mat-select>
                <mat-error>
                  <app-error-message [controlName]="personFormProps.CountryIso2Code"></app-error-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-3 col-lg-6">
              <mat-form-field appearance="outline"
                              class="width-100">
                <mat-label i18n>Non State Issuer</mat-label>
                <input matInput
                       [formControlName]="personFormProps.NonStateIssuer"
                       required>
                <mat-error>
                  <app-error-message [controlName]="personFormProps.NonStateIssuer"></app-error-message>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label></ng-template>
      <div class="kt-portlet">
        <div class="kt-portlet__head kt-portlet__head--lg">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">{{originatorTypeValues[originatorTypeIndex]?.DisplayName}}</h3>
          </div>
        </div>
        <div class="kt-portlet__body">
          <ng-container [formGroup]="originatorNaturalPersonIdsFormArray">
            <div *ngFor="let natPerson of originatorNaturalPersonIdsFormArray.controls"
                 [formGroup]="natPerson"
                 class="row">
              <div class="col-xl-3 col-lg-6">
                <mat-form-field appearance="outline"
                                class="width-100">
                  <mat-label i18n>Identification Type</mat-label>
                  <mat-select [formControlName]="personFormProps.Type"
                              required>
                    <mat-option *ngFor="let type of naturalIdentificationTypeValues"
                                [value]="type.Value">{{type.DisplayName}}</mat-option>
                  </mat-select>
                  <mat-error>
                    <app-error-message [controlName]="personFormProps.Type"></app-error-message>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-6">
                <mat-form-field appearance="outline"
                                class="width-100">
                  <mat-label i18n>Identifier</mat-label>
                  <input matInput
                         [formControlName]="personFormProps.Id"
                         required>
                  <mat-error>
                    <app-error-message [controlName]="personFormProps.Id"></app-error-message>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-6">
                <mat-form-field appearance="outline"
                                class="width-100">
                  <mat-label i18n>Country</mat-label>
                  <mat-select [formControlName]="personFormProps.CountryIso2Code"
                              required
                              panelClass="select-panel"
                              (openedChange)="!$event && searchCountry = ''"
                              disableRipple>
                    <mat-option class="select-search-option"
                                disabled>
                      <mat-form-field appearance="standard">
                        <mat-label i18n>Search</mat-label>
                        <input type="text"
                               matInput
                               [(ngModel)]="searchCountry"
                               [ngModelOptions]="{standalone: true}"
                               (keydown)="$event.stopPropagation()"
                               (click)="$event.stopPropagation()">
                        <mat-icon *ngIf="searchCountry"
                                  (click)="searchCountry = ''"
                                  matSuffix>clear</mat-icon>
                      </mat-form-field>
                    </mat-option>
                    <mat-option *ngFor="let country of countries | searchCountry : searchCountry"
                                [hidden]="country.isHidden"
                                [value]="country.alpha2Code">{{country.name}}</mat-option>
                  </mat-select>
                  <mat-error>
                    <app-error-message [controlName]="personFormProps.CountryIso2Code"></app-error-message>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-3 col-lg-6">
                <mat-form-field appearance="outline"
                                class="width-100">
                  <mat-label i18n>Non State Issuer</mat-label>
                  <input matInput
                         [formControlName]="personFormProps.NonStateIssuer"
                         required>
                  <mat-error>
                    <app-error-message [controlName]="personFormProps.NonStateIssuer"></app-error-message>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </ng-container>

          <div style="margin-bottom: 0.5rem">
            <h6 i18n>Originator Place Of Birth</h6>
          </div>
          <div [formGroup]="transactionForm.get(transactionFormProps.OriginatorPlaceOfBirth)"
               class="row">
            <div class="col-xl-4 col-lg-6">
              <mat-form-field appearance="outline"
                              class="width-100">
                <mat-label i18n>Town</mat-label>
                <input id="placeOfBirthFormPropsTown"
                       matInput
                       [formControlName]="placeOfBirthFormProps.Town"
                       required>
                <mat-error>
                  <app-error-message [controlName]="placeOfBirthFormProps.Town"></app-error-message>
                  <app-error-message [controlName]="placeOfBirthFormProps.Town"
                                     key="length"
                                     [template]="templates.lengthError"
                                     [templateContext]="{$implicit: {min: transactionFormValidations.Town.MinLength, max: transactionFormValidations.Town.MaxLength}}"></app-error-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-6">
              <mat-form-field appearance="outline"
                              class="width-100">
                <mat-label i18n>Country</mat-label>
                <mat-select [formControlName]="placeOfBirthFormProps.CountryIso2Code"
                            required
                            panelClass="select-panel"
                            (openedChange)="!$event && searchCountry = ''"
                            disableRipple>
                  <mat-option class="select-search-option"
                              disabled>
                    <mat-form-field appearance="standard">
                      <mat-label i18n>Search</mat-label>
                      <input type="text"
                             matInput
                             [(ngModel)]="searchCountry"
                             [ngModelOptions]="{standalone: true}"
                             (keydown)="$event.stopPropagation()"
                             (click)="$event.stopPropagation()">
                      <mat-icon *ngIf="searchCountry"
                                (click)="searchCountry = ''"
                                matSuffix>clear</mat-icon>
                    </mat-form-field>
                  </mat-option>
                  <mat-option *ngFor="let country of countries | searchCountry : searchCountry"
                              [hidden]="country.isHidden"
                              [value]="country.alpha2Code">{{country.name}}</mat-option>
                </mat-select>
                <mat-error>
                  <app-error-message [controlName]="placeOfBirthFormProps.CountryIso2Code"></app-error-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-6">
              <mat-form-field appearance="outline"
                              class="width-100">
                <mat-label i18n>Date</mat-label>
                <input matInput
                       [matDatepicker]="picker"
                       [formControlName]="placeOfBirthFormProps.Date"
                       required>
                <mat-datepicker-toggle matSuffix
                                       [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>
                  <app-error-message [controlName]="placeOfBirthFormProps.Date"></app-error-message>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="kt-portlet"
       [formGroup]="transactionForm.get(transactionFormProps.OriginatorPostalAddress)">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title"
            i18n>Originator Postal Address</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Street</mat-label>
            <input id="postalAddressFormPropsStreet"
                   matInput
                   [formControlName]="postalAddressFormProps.Street"
                   required>
            <mat-error>
              <app-error-message [controlName]="postalAddressFormProps.Street"></app-error-message>
              <app-error-message [controlName]="postalAddressFormProps.Street"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: transactionFormValidations.Street.MinLength, max: transactionFormValidations.Street.MaxLength}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Building</mat-label>
            <input id="postalAddressFormPropsBuilding"
                   matInput
                   [formControlName]="postalAddressFormProps.Building"
                   required>
            <mat-error>
              <app-error-message [controlName]="postalAddressFormProps.Building"></app-error-message>
              <app-error-message [controlName]="postalAddressFormProps.Building"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: transactionFormValidations.Building.MinLength, max: transactionFormValidations.Building.MaxLength}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Address</mat-label>
            <textarea id="postalAddressFormPropsAddressLine"
                      matInput
                      [formControlName]="postalAddressFormProps.AddressLine"
                      required
                      style="min-height: 60px"></textarea>
            <mat-error>
              <app-error-message [controlName]="postalAddressFormProps.AddressLine"></app-error-message>
              <app-error-message [controlName]="postalAddressFormProps.AddressLine"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: transactionFormValidations.AddressLine.MinLength, max: transactionFormValidations.AddressLine.MaxLength}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Post Code</mat-label>
            <input id="postalAddressFormPropsPostCode"
                   matInput
                   [formControlName]="postalAddressFormProps.PostCode"
                   required>
            <mat-error>
              <app-error-message [controlName]="postalAddressFormProps.PostCode"></app-error-message>
              <app-error-message [controlName]="postalAddressFormProps.PostCode"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: transactionFormValidations.PostCode.MinLength, max: transactionFormValidations.PostCode.MaxLength}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Town</mat-label>
            <input id="postalAddressFormPropsTown"
                   matInput
                   [formControlName]="postalAddressFormProps.Town"
                   required>
            <mat-error>
              <app-error-message [controlName]="postalAddressFormProps.Town"></app-error-message>
              <app-error-message [controlName]="postalAddressFormProps.Town"
                                 key="length"
                                 [template]="templates.lengthError"
                                 [templateContext]="{$implicit: {min: transactionFormValidations.Town.MinLength, max: transactionFormValidations.Town.MaxLength}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Country</mat-label>
            <mat-select [formControlName]="postalAddressFormProps.CountryIso2Code"
                        required
                        panelClass="select-panel"
                        (openedChange)="!$event && searchCountry = ''"
                        disableRipple>
              <mat-option class="select-search-option"
                          disabled>
                <mat-form-field appearance="standard">
                  <mat-label i18n>Search</mat-label>
                  <input type="text"
                         matInput
                         [(ngModel)]="searchCountry"
                         [ngModelOptions]="{standalone: true}"
                         (keydown)="$event.stopPropagation()"
                         (click)="$event.stopPropagation()">
                  <mat-icon *ngIf="searchCountry"
                            (click)="searchCountry = ''"
                            matSuffix>clear</mat-icon>
                </mat-form-field>
              </mat-option>
              <mat-option *ngFor="let country of countries | searchCountry : searchCountry"
                          [hidden]="country.isHidden"
                          [value]="country.alpha2Code">{{country.name}}</mat-option>
            </mat-select>
            <mat-error>
              <app-error-message [controlName]="postalAddressFormProps.CountryIso2Code"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title"
            i18n>Amount</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Amount</mat-label>
            <input matInput
                   [formControlName]="transactionFormProps.Amount"
                   type="number"
                   [min]="transactionFormValidations.Amount.MinNumber"
                   [step]="transactionFormValidations.Amount.MinNumber"
                   required>
            <mat-error>
              <app-error-message [controlName]="transactionFormProps.Amount"></app-error-message>
              <app-error-message [controlName]="transactionFormProps.Amount"
                                 key="min"
                                 [template]="templates.minNumberError"
                                 [templateContext]="{$implicit: {min: transactionFormValidations.Amount.MinNumber}}"></app-error-message>
              <app-error-message [controlName]="transactionFormProps.Amount"
                                 key="max"
                                 [template]="templates.maxNumberError"
                                 [templateContext]="{$implicit: {max: constants.INTEGER_MAX_NUMBER}}">
              </app-error-message>
              <app-error-message [controlName]="transactionFormProps.Amount"
                                 key="accuracy"
                                 [template]="templates.invalidAccuracyError"
                                 [templateContext]="{$implicit: {accuracy: transactionFormValidations.Amount.Accuracy}}"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-6">
          <mat-form-field appearance="outline"
                          class="width-100">
            <mat-label i18n>Asset</mat-label>
            <mat-select [formControlName]="transactionFormProps.Asset"
                        required>
              <mat-option *ngFor="let asset of assetValues"
                          [value]="asset">{{asset}}</mat-option>
            </mat-select>
            <mat-error>
              <app-error-message [controlName]="transactionFormProps.Asset"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="errors && errors.length"
       class="kt-portlet">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title"
            i18n>Amount</h3>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div *ngFor="let error of errors"
           style="color: red">{{error}}</div>
    </div>
  </div>

  <div class="form-navigation d-flex justify-content-between align-items-center">
    <button type="button"
            class="btn btn-outline-brand btn-upper btn-bold"
            style="min-width: 120px;"
            [routerLink]="[navigateToListUrl]"
            [disabled]="isSaving"
            i18n>Cancel</button>

    <button type="submit"
            class="btn btn-brand btn-upper btn-bold"
            style="min-width: 120px;"
            [disabled]="isSaving || transactionForm.disabled"
            i18n>Save</button>
  </div>
</form>

<ng-template #vaanError>
  <div i18n>Invalid VAAN</div>
</ng-template>
