@import '../utils/variables';

.kt-badge {
  position: relative;
  top: -1px;

  &--md {
    margin-right: 6px;
  }

  &--gray {
    background: #6c757d;
  }

  &--orange {
    background: $orange;
  }

  &--active,
  &--yes-row,
  &--green {
    background: $kt-success-color;
  }
}
